<link rel="import" href="../packages/polymer/polymer.html">

<link rel="import" href="packages/the_graph/the_graph_editor.html">

<polymer-element name="my-wrapper">
    <template>
        <the-graph-editor on-nodes="{{editor_nodesSelected}}" fit id="theGraph"></the-graph-editor>
    </template>

    <script type="application/dart" src="my_wrapper.dart"></script>
</polymer-element>