<script src="src/react/react-with-addons.js"></script>
<script src="src/klayjs-noflo/klay-noflo.js"></script>
<script src="src/hammerjs/hammer.min.js"></script>
<script src="src/ease-djdeath/index.js"></script>
<script src="src/react.animate-djdeath/react.animate.js"></script>
<script src="src/the-graph/build/noflo.js"></script>

<!-- Fonts -->
<link rel="stylesheet" href="src/font-awesome/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400' rel='stylesheet' type='text/css'>
<style>
    @font-face {
        /* we want the svg version */
        font-family: 'FontAwesomeSVG';
        src: url('src/font-awesome/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg'),
        url('src/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
        url('src/font-awesome/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
        url('src/font-awesome/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
</style>

<link rel="import" href="src/the-graph/the-graph-editor/the-graph-editor.html">
<script type="application/dart" src="the_graph_editor.dart"></script>
